@font-face {
	font-family: 'yekan';
	src: url('/Yekan.ttf');
}
.layout {
	text-align: right;
	direction: rtl;
	z-index: 1;
}
button {
	font-family: 'yekan' !important;
}
body {
	font-family: 'yekan';
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 400;
	text-align: right;
	line-height: 1.8;
	color: #333;
}

.notfound-wrapper {
	z-index: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
